

h1{
    background: linear-gradient(108.18deg, #ea4c89 -12.2%, #4d44c6 60%);
    -webkit-background-clip: text;
    display: inline-block;
    -webkit-text-fill-color: transparent;
}

.bennar img{
    width: 100%;
    height: 100vh;
}

.contact-us{
    padding: 0px 8%;
}

